.user-info {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.user-info .pokeball-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-info .pokeball-container .pokemon-icon {
  font-size: 425px;
  color: #cc0000;
}
.user-info #typing-effect-container-right {
  display: none;
}
.user-info .user-info-form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

@media only screen and (max-width: 850px) {
  .user-info .pokeball-container {
    display: none;
  }

  .user-info #typing-effect-container-right {
    display: inline;
  }
}
