.pokemon-display .autocomplete-dropdown {
  display: flex;
  justify-content: space-between;
}

.pokemon-display .autocomplete-dropdown .nav-icon {
  padding: 0px 10px;
}

.pokemon-display .pokemon-container {
  padding: 10px;
  min-height: 620px;
  width: 360px;
  border: 4px solid #ff0000;
  border-radius: 20px;
  background-color: #f9e3c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemon-display .pokemon-container .helper-text {
  text-align: center;
}
.pokemon-display .pokemon-container .heading {
  display: flex;
  justify-content: center;
}

.pokemon-display .pokemon-container .picture {
  display: flex;
  justify-content: center;
  height: 180px;
  margin-top: 10px;
  align-items: center;
}

.pokemon-display .pokemon-container .basic-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.pokemon-display .pokemon-container .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-display .pokemon-container .chip-container {
  margin-right: 5px;
  margin-top: 5px;
}

.pokemon-display .pokemon-container .row {
  margin-top: 12px;
  min-height: 62px;
}

.pokemon-display .pokemon-container .catch-btn-container {
  display: flex;
  justify-content: center;
}
.pokemon-display .pokemon-container .catch-btn-container .catch-btn {
  margin-top: 15px;
  color: #000;
}

.pokemon-display .pokemon-container .catch-btn-container .catch-btn:hover {
  border: 4px solid #cc0000;
  background-color: #ffde00;
}
